<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="fields form-group">
      <%= f.label :user_id, value: current_user %>
      <%= f.label :name %><br/>
      <%= f.text_field :name %><br><br>
      <%= f.label :description, "Quiz Description" %>
      <%= f.text_field :description, class: "form-control", placeholder: "Enter a description for the quiz" %><br/>
      <%= f.label :category_id, "Select a category for this quiz" %><br/>
      <%= f.collection_select(:category_id, @categories, :id, :name, :prompt => "Select a Category") %><br/><br/>
      <%= f.label :time_limit, "Please enter the time limit for this quiz (in minutes). Ex: 5.5 would be 5:30" %>
      <%= f.text_field :time_limit %><br><br>
    </div>


    <!-- Click on create answers, should render partial for hint/solution form. Enter one, click "Add answer", and the hint/solution will show up on the page, and you will still have option to add hints/solutions. Once all are added, hit submit-->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
