.text-center.col-xs-12.col-md-8.col-md-offset-2
  %h1 Edit Quiz
  - if @quiz.user != current_user
    %p You are not permitted to edit the contents of this quiz
  - else
    = render 'form'
    = react_component 'Answers', {data: @answers, quizId: @quiz.id}


  = link_to 'Play Quiz |', @quiz
  = link_to 'Back |', quizzes_path
  = link_to 'Edit Answers', quiz_answers_path(@quiz)
