<!--This should be fixed to top along with quiz guess-->

<div class="row">
    <div class="col-md-6" role="main">
        <!--<div class="fix_top">-->
            <h1><%= @quiz.name %></h1>
            <h6>Created on: <%= @quiz.created_at.strftime("%B %d, %Y") %></h6>
            <% if @quiz.description %>
                <h3><%= @quiz.description %></h3>
            <% end %>

            <div class="pre_quiz">
               <%= render partial: 'games/form', locals: {quiz: @quiz} %>
            <!--</div>-->
        </div>

        <div id="live_game">
            <%= render 'guess' %>

            <table class="table answers">
              <tr class="headings">
                <th>Hint</th>
                <th>Solution</th>
              </tr>

              <%= render @answers %>

            </table><br><br>

          <% if user_signed_in? && current_user == @quiz.user_id %>
              <div class="options">
                <%= link_to 'Add Answers', new_quiz_answer_path(@quiz.id) %> |
                <%= link_to 'Edit', edit_quiz_path(@quiz) %>
              </div>
          <% end %>

          <%= link_to 'Back to Quiz Page', quizzes_path %><br>
          <%= link_to 'Back to Home Page', root_path %><br><br>

        </div>
    </div>
    <div class=" col-md-offset-6">
       <!--<div class="timer">-->
            <%= render 'timer' %>
       <!--</div>-->
        <%= render 'high_scores' %>
    </div>
</div>

<!--Show feed on side showing high scores for quiz - User, % correct, when played-->