<div class="col-md-8 col-md-offset-2">
    <h1>Welcome to Kwiz</h1>

    <h3>Your #1 site for any and all quizzes!</h3>

  <% if user_signed_in? %>
      <p>Welcome back <strong><%= current_user.username %></strong>!</p>
      <h3>Your Recently Played Games</h3>
      <table class="table table-hover table-condensed">
        <thead>
        <tr>
          <th>Date Played</th>
          <th>Quiz Name</th>
          <th>Score</th>
        </tr>
        </thead>
        <%= render @games %>
      </table>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Log In", new_user_session_path %>
  <% end %>

    <br><br>

  <h3>Kwiz's Most Popular Games</h3>
    <%= render 'shared/quiz_header' %>
    <%= render @quizzes %>
  </table>

</div>
