<%= form_for @answer, :url => quiz_answers_path do |f| %>
    <% if @answer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this quiz from being saved:</h2>

          <ul>
            <% @answer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="fields">
      <%= f.hidden_field :quiz_id %>
      <%= f.label :hint %>
      <%= f.text_field :hint %><br><br>
      <%= f.label :solution %>
      <%= f.text_field :solution %><br><br>
    </div>

    <!-- Sub-categories for answers eg. guess starters for every team, sub-category for each team-->
    <!-- Click on create answers, should render partial for hint/solution form. Enter one, click "Add answer", and the hint/solution will show up on the page, and you will still have option to add hints/solutions. Once all are added, hit submit-->

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>